/*
Common
*******************/

html,
body {
    height: 100%;
}
.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/*
Post
*******************/



.header {
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #ccc;
}

.header img.logo {
    width: 10%;
    padding-left: 10px;
}

.header h1 {
    padding-left: 20px;
    font-size: 23px;
}

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
}

.posts ul {
    padding: 0;
}

.posts{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.posts li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;

    padding: 60px 40px;
    list-style: none;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}
.posts li .name_body .image {
    width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid rgb(197,199,201);
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}

/*********LIKE***********/
.content .posts .like_list{
    display:flex;
    position: absolute;
    top: 91%;
    left: 20%;
}
.content .posts .like_list img{
    width: 30px;
    margin: 5px;
}
.content .posts .like_list h2 {
    font-size: 2vh;
    margin: 13px;
}

a#cancel, button {
    border: 1px solid #ccc;
    padding: 7px;
    text-decoration: none;
    color: white;
    background-color: #0baae6;
    border-radius: 50px;
    margin-left: 25px;
}

input#button {
    color: white;
    background-color: black;
    width: 63px;
    border-radius: 50px;
}
